 
            * {
              box-sizing: border-box;
            }
            
            
            
            nav {
                background-color: lightsalmon;
            }
            
            nav ul {
               list-style-type: none;
               display: inline-flex;
               margin: 0;
            } 
            
            nav a {
              color: crimson;
              text-decoration: none;
            }
            
            nav li {
                padding:1.2vw;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
            
            nav li:hover {
                background-color: #e9edc9;
                border-left: 1px darkcyan solid;
                border-right: 1px darkcyan solid;
            }
            
            header {
                background-image: url('images/fruit/apple.jpg');
                width: 100%;
                height: 25vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            header h1 {
                color: white;
                font-size: 2.3rem;
            }
            
            .menu {
                padding: 0px;
                margin: 0px;
            }
            
            .menu ul {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
            }
            
            .menu a {
                text-decoration: none;
                   color: #e36414;
            }
            
            .menu li {
/*                margin-bottom: 12px;*/
                border-bottom: 1.5px crimson solid;
/*                border-radius: 5px;*/
                padding: 15px;
            }
            
            .menu li:hover {
                background-color: #e9edc9;
                background-image: url('images/kiwi.png');
                background-size:  5%;
                background-position: 95%;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            
            .menu li a:hover {
                color: red;
            }
            
            .menu video {
                width: 100%;
                 border-radius: 5px;
                border: 2px crimson solid;
                padding: 10px;
                box-shadow: -10px 10px 5px rgba(100,100,100,0.4);
            }
            
            .menu audio {
                width: 100%;
                padding: 5px;
            }
            
            /* Mobile */        
            [class *= 'col-'] {
               width: 100%;
               float: left;
               padding: 2vw;
            }  
            
             body  {
               margin: 0px;
            }
            
            .onsale img {
                margin-left: 15%;
                width: 100%;
                border: 2px crimson solid;
                padding: 5px;
                box-shadow: -10px 10px 5px rgba(100,100,100,0.4);
            }
                                  
           .content iframe {
                width: 100%;
                height: 25vh;
            }
                        
           .content #yt_iframe {
                float: left;
                width: 33%;
                padding: 8px;
            }
            
            .content #self_iframe {
                float: left;
                width: 66%;
                padding: 8px;
            }
           
            /* Tablet */
            @media only screen and (min-width:992px) {
                .col-m-1{width:8.33%}
                .col-m-2{width:16.66%}
                .col-m-3{width:25%}
                   .col-m-4{width:33%}
                .col-m-5{width:41.66%}
                .col-m-6{width:50%}
                .col-m-7{width:58.33%}
                .col-m-8{width:66.66%}
                .col-m-9{width:75%}
                .col-m-10{width:83.33%}
                .col-m-11{width:91.66%}
                .col-m-12{width:100%}
            }
            
            /* PC */
            @media only screen and (min-width:1200px) {
                .col-1{width:8.33%}
                .col-2{width:16.66%}
                .col-3{width:25%}
                .col-4{width:33%}
                .col-5{width:41.66%}
                .col-6{width:50%}
                .col-7{width:58.33%}
                .col-8{width:66.66%}
                .col-9{width:75%}
                .col-10{width:83.33%}
                .col-11{width:91.66%}
                .col-12{width:100%}
            }
            
            footer {
                position: fixed;
                left: 0px;
                bottom: 0px;
                background-color: lightgray;
                color: gray;
                width: 100%;
                text-align: center;
            }
              .form_style {

}

